html {
  height: 100%;
}
body {
  background-color: #282c34;
  height: 100%;
}
.App {
  background-color: #282c34;
  color: white;
  display: flex;
  min-height: 100vh;

  flex-direction: row;
}

.Note {
  overflow-y: scroll;
  max-width: 500px;
  background-color: #282c34;
  min-width: 500px;
  height: 100vh;
  transition: box-shadow 0.2s ease;
  
}

pre {
  white-space: pre-line;
}
.bar {
  opacity: 0;
  z-index: 100;
  padding-top: 20px;
  font-size: large;
  font-weight: 500;
  transition: opacity 0.2s ease-in-out;
  width: 40px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  align-items: center;
  display: flex;
}
.content {
  transition: opacity 0.2s ease-in-out;
  padding: 40px;
}
.Container { 
  display: flex;
  flex-direction: row;
  width: 100vw;
  overflow: scroll;
}